.collapsibleList li > input + * {
  display: none;
 }
  
 .collapsibleList li > input:checked + * {
  display: block;
 }
 
 .collapsibleList li > input {
  display: none;
 }
 
 .collapsibleList label {
  cursor: pointer;
 }

 span {
   color: red;
 }